body {
  background-color: aqua;
}

.header {
  font-family: monospace;
  font-size: 50px;
  color: rgb(204, 20, 255);
}

.headerDiv {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}