body {
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: rgb(127, 48, 255);
}

.headerDiv {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

#menu_butt {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 4%;
  transition: rotate , 1s;
}

#menu_butt:hover {
  cursor: pointer;
}