body {
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  margin: 0;
  width: fit-content;
  white-space: nowrap; 
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: rgb(127, 48, 255);
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.headerDiv {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  height: 10%;
  width: 50%;
}

#menu_butt {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 4%;
  transition: rotate , 0.75s;
}

#menu_butt:hover {
  cursor: pointer;
}