body {
  background-color: rgb(14, 14, 14);
}

.header {
  font-family: monospace;
  font-size: 50px;
  color: rgb(127, 48, 255);
}

.headerDiv {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}